<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Reset de senha</h2>
    <h3>Redefinição de senha enviada</h3>
    <p>
    Enviamos-lhe instruções por e-mail para definir sua sexistir uma conta com o e-mail digitado.
    Você deve recebê-las em breve.
    </p>
    <p>
    Se você não receber um e-mail, verifique se digitou oendereço com o qual se registrou e verifique sua pastspam.
    </p>

</body>
</html>