{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualiza Avaliação</title>
    <link rel="stylesheet" href="{% static 'main/css/estilo.css' %}">
</head>
<body>
    {% include 'main/links.html' %}
    <h1>Atualização de avaliações</h1>
    <form method="POST" class='formulario'>
        {% csrf_token %}
        <table>
            {{ avaliacao.as_table }}
            <tr>
            <td></td>
            <td><input type="submit" value="Atualiza"></td>
            </tr>
        </table>
    </form>
</body>
</html>