{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cria Avaliação</title>
    <link rel="stylesheet" href="{% static 'main/css/formsAvaliacao.css' %}">
</head>
<body>
    {% include 'main/links.html' %}
    <h1>Cria Avaliação</h1>
    <form action="" method="POST">
        <fieldset>
            <legend>Formulário de Avaliação</legend>
            {% csrf_token %}
            <table class='formulario'>
                {{ formulario.as_table }}
            </table>
            <button type="submit">Criar Avaliação</button>
        </fieldset>
    </form>
</body>
</html>