<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mídias</title>
</head>
<body>
    {% include 'main/links.html' %}
    
    <h1>Lista de Mídias</h1>
    
    <p><a href="{% url 'main:busca-midia' %}">Buscar e Importar Novas Mídias</a></p>
    
    <table>
        <thead>
            <tr>
                <th>Poster</th>
                <th>Título</th>
                <th>Tipo</th>
                <th>Ano</th>
                <th>Diretor</th>
                <th>Gênero</th>
            </tr>
        </thead>
        <tbody>
            {% for midia in midias %}
            <tr>
                <td>
                    {% if midia.poster_url %}
                        <img src="{{ midia.poster_url }}" alt="{{ midia.titulo }}" width="50">
                    {% endif %}
                </td>
                <td>{{ midia.titulo }}</td>
                <td>{{ midia.get_tipo_display }}</td>
                <td>{{ midia.ano_lancamento }}</td>
                <td>{{ midia.diretor }}</td>
                <td>{{ midia.get_generos_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ainda não tem mídias cadastradas</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> -->