{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">Seja bem vindo!</h1>

        <nav id="links">
            <ul>
                <li><a href="{% url 'accounts:login' %}?next={% url 'main:lista-avaliacao' %}">Login</a></li> <!-- redireciona para a página de avaliação da main-->
                <li><a href="{% url 'accounts:cadastro' %}">Cadastro</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>