{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
    <title>Portal de Início</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">Seja bem vindo!</h1>

        <nav id="links">
            <ul>
                <li><a href="{% url 'portal:home' %}">Login</a></li>
                <li><a href="{% url 'portal:home' %}">Cadastro</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>